@import "site.mixins.less";


.s-Default-MovieDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Default-GenreDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Default-PersonDialog {
    > .size {
        width: 700px;
        height: 600px;
    }

    .caption {
        width: 150px;
    }

    .s-PersonMovieGrid > .grid-container {
        height: 500px;
    }
}

.s-Default-MovieCastDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Default-MovieCastEditDialog {
    > .size {
        width: 450px;
    }

    .caption {
        width: 120px;
    }

    .s-PropertyGrid .categories {
        height: 120px;
    }
}


.s-Default-TenantsDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Default-ProductsDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Default-SuppliersDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-Default-PurchaseOrderDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }

    @media (min-width: 768px) {
        .field.PurchaseDate, .field.SupplierId ,.field.Number, .field.Type, .field.ShareType ,.field.PayWay{
            flex: auto;
            min-width: 50%;
        }

        .grid-container {
            height: 500px;
        }
    }
}

.s-Default-PurchaseOrderDetailDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}
