@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Genre.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BowenSerene.Default.GenreGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>
<style>
    #PDFview{
    border: 1px solid #aaa !important;
    margin:0 !important;
    font-size:13px !important;
    padding: 3.5px 7px 3.5px 3.5px;
}

#dropdownlistID {
    margin-left: -3px !important;
    border: 1px solid #aaa !important;
    font-size:11px !important;
}
.dropdownMenu {
    border: 1px solid #aaa !important;
    margin-top:-5px !important;
    border-radius: 0 5px 5px 5px !important;
    background: linear-gradient(#ffffff 0px, #eeeeee 100%) repeat-x #f7f7f7;
    border-top:none !important;   
}
.dropdownMenu li a:hover{
    color:red;
    cursor:pointer;
}
.dropdownMenu li a{
   font-size:0.9em;
    margin-bottom:10px;   
}
.dropdownMenu span.button-inner{
    margin-top:3px;
}
#PDFview span.button-inner {
  background-image: url('../serenity/images/pdf.png');
  height: 15px !important;
  margin-top:1.5px;
  margin-right:-5px; 
}
#btnPDFGroup img {
    margin-right:5px;
}
</style>