@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.InspectionDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BowenSerene.Default.InspectionDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>