@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.PurchaseOrder.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new _Ext.Default.PurchaseOrderGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>